node_modules
dist
.expo
.firebase
.turbo
coverage
android/.gradle
ios/Pods
*.log
.env
.env.*
!.env.example
functions/lib
tmp
*.tsbuildinfo
apps/mobile/google-services.json
apps/mobile/GoogleService-Info.plist
.firebase-config/
