# Android emulator local API
#EXPO_PUBLIC_API_BASE_URL=http://10.0.2.2:5001/subly-dev/europe-west1/api/api/v1

# Physical device on same Wi-Fi example:
EXPO_PUBLIC_API_BASE_URL=http://YOUR_LOCAL_IP:5001/subly-dev/europe-west1/api/api/v1
EXPO_PUBLIC_AUTH_MODE=firebase
EXPO_PUBLIC_FIREBASE_AUTH_EMULATOR_URL=http://YOUR_LOCAL_IP:9099
EXPO_PUBLIC_FIREBASE_PROJECT_ID=subly-dev

# Optional Firebase Web config overrides for Expo Go mode.
# In most cases the app can derive these values from google-services.json.
# EXPO_PUBLIC_FIREBASE_API_KEY=your_firebase_web_api_key
# EXPO_PUBLIC_FIREBASE_APP_ID=your_firebase_app_id
# EXPO_PUBLIC_FIREBASE_PROJECT_ID=your_firebase_project_id
# EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=your_firebase_storage_bucket
# EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=your_firebase_sender_id
# EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=your_firebase_auth_domain
