# Android emulator local API
#EXPO_PUBLIC_API_BASE_URL=http://10.0.2.2:5001/subly-dev/europe-west1/api/api/v1

# Physical device on same Wi-Fi example:
EXPO_PUBLIC_API_BASE_URL=http://192.168.1.24:5001/subly-dev/europe-west1/api/api/v1
